body{
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container{
    display: flex;
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
}

.content {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 1000px;
    text-align: justify;
    line-height: 1.5;
}

.content img {
    width: 100%;
}

.content small {
    color: #555;
    font-style: italic;
}

small {
    font-size: smaller;
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}