body{
    font-family: 'Lato', sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}

.container{
    display: flex;
    background-color: #fafafa;
    width: 100vw;
    min-height: 100vh;
}

.content {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 1000px;
    text-align: justify;
    line-height: 1.5;
}

.content img {
    width: 100%;
}

.content small {
    color: #555;
    font-style: italic;
}

small {
    font-size: smaller;
}

.circle-container{
    position: fixed;
    width: 200px;
    height: 200px;
    top: -100px;
    left: -100px;
}

.circle-container .circle{
    display: flex;
    position: relative;
    background-color: #FF7979;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.circle button {
    height: 50px;
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: #FF7979;
}

#close{
    position: absolute;
    bottom: 25px;
    left: 35px;
}

#open{
    position: absolute;
    bottom: 25px;
    right: 35px;
}